@mixin mat-icon-size($size) {
    font-size: $size;
    height: $size;
    width: $size;
    line-height: $size;
}

mat-card {
    position: absolute;
    max-width: 45%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 600px;
    z-index: 100;

    .mat-card-header {
        position: relative;
    }
}

.github-link, .gitlab-link, .instagram-link, .linkedin-link, .stackoverflow-link, .spotify-link  {
    display: inline-block;
    margin-right: 20px;
}
.copyEmail {
    cursor: pointer;
    .copyIcon {
        color: rgba(0,0,0,.38);
    }
}
.bio {
    font-size: 16px;

    .interests {
        font-style: italic;
        background-color: rgba(128, 128, 128, .38);
        padding: 10px;
    }
}

.close {
    position: absolute;
    cursor: pointer;
    right: 0px;
    top: 20px;
    @include mat-icon-size(35px);
}