<mat-card [@slideContent]="animationState">
  <mat-card-header>
      <h1>About Me</h1>
      <mat-icon class="close" svgIcon="close" (click)="closeOverlay()"></mat-icon>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
        <mat-list-item class="name"><strong>Name:</strong> &nbsp; <span>Nishanth Shyam</span> </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="location"><strong>Location:</strong> &nbsp; <span>Newcastle, UK</span> </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="occupation"><strong>Occupation:</strong> &nbsp; <span>Student at Newcastle University studying Computer Science</span> </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="email"><strong>Email:</strong> &nbsp; <span id="emailContent">nshyam668@gmail.com</span> &nbsp;&nbsp; <span matTooltip="Copy" class="copyEmail" (click)="copyEmailAddress()"><mat-icon class="copyIcon">content_copy</mat-icon></span></mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
    </mat-list>

    <h2>Stalk Me</h2>
    <div>
    <div class="gitlab-link" matTooltip="GitLab">
          <a href="https://gitlab.com/nshyam97" target="_blank">
              <svg id="gitlab-logo" height="40" width="40" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                  <image x="0" y="0" height="40" width="40" xlink:href= "../../assets/images/logos/gitlab-logo.svg"/>
              </svg>
          </a>
      </div>
      <div class="github-link" matTooltip="GitHub">
          <a href="https://github.com/nshyam97" target="_blank">
              <svg id="github-logo" height="40" width="40" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                  <image x="0" y="0" height="40" width="40" xlink:href= "../../assets/images/logos/github-logo.svg"/>
              </svg>
          </a>
      </div>
      <div class="instagram-link" matTooltip="Instagram">
          <a href="https://instagram.com/nshyam97" target="_blank">
              <svg id="instagram-logo" height="40" width="40" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                  <image x="0" y="0" height="40" width="40" xlink:href= "../../assets/images/logos/instagram.svg"/>
              </svg>
          </a>
      </div>
      <div class="linkedin-link" matTooltip="LinkedIn">
          <a href="https://linkedin.com/in/nishanth-shyam" target="_blank">
              <svg id="linkedin-logo" height="40" width="40" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                  <image x="0" y="0" height="40" width="40" xlink:href= "../../assets/images/logos/linkedin.svg"/>
              </svg>
          </a>
      </div>
      <div class="stackoverflow-link" matTooltip="StackOverflow">
          <a href="https://stackoverflow.com/story/nshyam97" target="_blank">
              <svg id="stackoverflow-logo" height="40" width="40" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                  <image x="0" y="0" height="40" width="40" xlink:href= "../../assets/images/logos/stackoverflow.svg"/>
              </svg>
          </a>
      </div>
      <div class="spotify-link" matTooltip="Spotify">
          <a href="https://open.spotify.com/user/nishus97?si=_H8C5npNSdetG6cFTpM37A" target="_blank">
              <svg id="spotify-logo" height="40" width="40" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                  <image x="0" y="0" height="40" width="40" xlink:href= "../../assets/images/logos/spotify.svg"/>
              </svg>
          </a>
      </div>
    </div>
    <h2>Bio</h2>
    <div class="bio">
      <p>My name is Nishanth Shyam and I am a full time student and creator/contributor of NishBlogs.</p>
      <p>
        About me? Well, if you insist!
      </p>
      <p class="interests">
        I love playing and watching sports, learning about technology, scrolling endlessly through netflix,
         and listening to all sorts of music! I also love a good book so give me some recommendations!
      </p>
    </div>
  </mat-card-content>
</mat-card>
