<h1 class="header">Add Blog Post</h1>
<form [formGroup]="postForm" class="post-form-group">
  <div class="form-group">
    <label class="center-block" id="title-label">Title:</label>
      <input class="form-control" formControlName="title" id="title-input" autocomplete="off">
  </div>
  <div class="form-group">
    <label class="center-block" id="content-label">Content:</label>
    <p-editor class="form-control" formControlName="content" [style]="{'height':'320px', 'background-color':'white'}"></p-editor>
  </div>
</form>

<button class="post-button" (click)=addPost()>Post</button>
