#title-input {
    margin-bottom: 20px;
    width: 60%;
    height: 30px;
    font-size: 20px;
}

#title-label, #content-label {
    display: block;
    color: black;
    font-family: 'Karla', sans-serif;
}

.post-form-group {
    text-align: center;
}

.header {
    text-align: center;
    color: black;
    font-family: 'Karla', sans-serif;
}

.post-button {
    display: block;
    margin: auto;
    margin-top: 20px;
    height: 30px;
    width: 50px;
}