@mixin shadow($level: 1, $background: black) {
    @if $level == 1 { box-shadow: 0 1px   3px rgba(0,0,0,0.12), 0   1px 2px rgba($background,0.24) }
    @else if $level == 2 { box-shadow: 0 3px   6px rgba(0,0,0,0.16), 0   3px 6px rgba($background,0.23) }
    @else if $level == 3 { box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0   6px 6px rgba($background,0.23) }
    @else if $level == 4 { box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba($background,0.22) }
    @else if $level == 5 { box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba($background,0.22) }
}

@mixin mat-icon-size($size) {
    font-size: $size;
    height: $size;
    width: $size;
    line-height: $size;
}

.expand-button {
    position: fixed;
    right: 0px;
    top: 450px;
    height: 45px * 2;
    width: 40px;
    background-color: rgb(17, 135, 222);
    border-bottom-left-radius: 25px * 2;
    border-top-left-radius: 25px * 2;
    cursor: pointer;
    transition: transform .2s ease-in-out;
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);

    &.expanded {
        transition: transform .2s ease-in-out;
        -webkit-transform: translate3d(-400px, 0, 0);
        transform: translate3d(-400px, 0, 0);
    }
}

.email-modal {
    position: fixed;
    right: -400px;
    top: 300px;
    background-color: white;
    height: 400px;
    width: 400px;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    @include shadow(2);
    transition: transform .2s ease-in-out;
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);

    &.expanded {
        transition: transform .2s ease-in-out;
        -webkit-transform: translate3d(-400px, 0, 0);
        transform: translate3d(-400px, 0, 0);
    }
}

.arrow-left, .arrow-right {
    color: white;
    position: absolute;
    top: 20px;
    @include mat-icon-size (40px);

    &:hover {
        -webkit-animation: nudge 500ms 1 cubic-bezier(.36, .07, .19, .97) forwards;
        animation: nudge 500ms 1 cubic-bezier(.36, .07, .19, .97) forwards;
    }
}

.workInProgressLabel {
    text-align: center;
    font-family: 'Karla', sans-serif;
}

@keyframes nudge {
    10% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }

    30% {
        -webkit-transform: translateX(-4px);
        transform: translateX(-4px);
    }

    60% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }

    90% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@-webkit-keyframes nudge {
    10% {
        -webkit-transform: translateX(-2px);
    }

    30% {
        -webkit-transform: translateX(-4px);
    }

    60% {
        -webkit-transform: translateX(-2px);
    }

    90% {
        -webkit-transform: translateX(2px);
    }

    100% {
        -webkit-transform: translateX(0px);
    }
}