<div class="expand-button" (click)="expandEmailModal()" [ngClass]="{'expanded': showEmailModal === true}">
  <mat-icon class="arrow-left" svgIcon="keyboard_arrow_left" *ngIf="!showEmailModal"></mat-icon>
  <mat-icon class="arrow-right" svgIcon="keyboard_arrow_right" *ngIf="showEmailModal"></mat-icon>
</div>
<div class="email-modal" [ngClass]="{'expanded': showEmailModal === true}">
  <div>
      <p class="workInProgressLabel">Work in Progress!</p>
      <p class="workInProgressLabel">This will soon be a contact form but until then, if you'd like to contact me, please email me at nshyam668@gmail.com!</p>
  </div>
</div>
