<h1 class="header">Login</h1>
<mat-icon class="back-button" svgIcon="back" [routerLink]="['../home']"></mat-icon>
<div class="container">
	<form [formGroup]="loginForm" class="loginForm">
		<div class="form-group">
			<label id="emailLabel">Email address</label>
			<input type="email" formControlName="email" class="form-control" id="emailInput" autocomplete="off">
		</div>
		<div class="form-group">
			<label id="passwordLabel">Password</label>
			<input type="password" class="form-control" formControlName="password" id="passwordInput" autocomplete="off">
		</div>
		<button type="submit" (click)="tryLogin(loginForm.value)" class="login-button">Login</button>
	</form>
</div>