@mixin mat-icon-size($size) {
    font-size: $size;
    height: $size;
    width: $size;
    line-height: $size;
}

.loginForm {
    text-align: center;
}

.header {
    text-align: center;
    color: black;
    font-family: 'Karla', sans-serif;
}
.back-button {
    position: absolute;
    top: 15px;
    left: 10px;
    cursor: pointer;
    @include mat-icon-size(40px);

    &:hover {
        -webkit-animation: nudge 500ms 1 cubic-bezier(.36, .07, .19, .97) forwards;
        animation: nudge 500ms 1 cubic-bezier(.36, .07, .19, .97) forwards;
    }
}
#emailInput, #passwordInput {
    margin-bottom: 20px;
    width: 60%;
    height: 30px;
    font-size: 20px;
}

#emailLabel, #passwordLabel {
    display: block;
    color: black;
    font-family: 'Karla', sans-serif;
    font-size: 30px;
}


.login-button {
    display: block;
    margin: auto;
    margin-top: 20px;
    height: 30px;
    width: 50px;
}

@keyframes nudge {
    10% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }

    30% {
        -webkit-transform: translateX(-4px);
        transform: translateX(-4px);
    }

    60% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }

    90% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@-webkit-keyframes nudge {
    10% {
        -webkit-transform: translateX(-2px);
    }

    30% {
        -webkit-transform: translateX(-4px);
    }

    60% {
        -webkit-transform: translateX(-2px);
    }

    90% {
        -webkit-transform: translateX(2px);
    }

    100% {
        -webkit-transform: translateX(0px);
    }
}