/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Karla:700i');

body { 
    margin: 0;
    background-color: rgb(237, 239, 241);
 }
