<mat-toolbar class="mat-elevation-z6" appScrollTracker>
    <mat-toolbar-row class="toolbar-row">
        <div class="weather">
            <svg id="weather-icon" height="100" width="100" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                <image x="0" y="0" height="100" width="100" xlink:href= "../../assets/images/ClimaconsSVG/day_clear.svg"  
                attr.xlink:href = "{{ weatherIconSVGLocation }}"/>
            </svg>
            <span class="weather-text">My current weather!</span>
        </div>
        <div class="wrapper">
            <span class="title">N</span>
            <span class="title">i</span>
            <span class="title">s</span>
            <span class="title">h </span>
            <span class="title">B</span>
            <span class="title">l</span>
            <span class="title">o</span>
            <span class="title">g</span>
            <span class="title">s</span>
            <span class="title">.</span>
        </div>
        <span class="spacer"></span>
        <button class="about-me" (click)="displayAboutMe()">ABOUT ME</button>
        <button class="login" [routerLink]="['../login']">LOGIN</button>
    </mat-toolbar-row>
</mat-toolbar>

<div class="spinner" *ngIf="showLoading">
    <div class="dot1"></div>
    <div class="dot2"></div>
</div>

<div [@listStagger]="numOfPosts" class="list-container">
    <mat-card class="blog-list" *ngFor="let post of posts | async | reverse">
        <a name="{{ post.title }}"></a>
        <mat-card-header>
            <a class="title-link" href="#{{ post.title }}">
                <h1 class="postTitle">{{ post.title }}</h1>
            </a>
        </mat-card-header>
        <mat-card-content>
            <p class="postContent" [innerHTML]="post.content"></p>
        </mat-card-content>
    </mat-card>
</div>

<app-email id="email-component"></app-email>