@mixin mat-icon-size($size) {
    font-size: $size;
    height: $size;
    width: $size;
    line-height: $size;
}
app-email {
    visibility: hidden;
}
.login, .about-me {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    color: rgb(237, 239, 241);
    height: 30px;
    width: 80px;
    font-size: 15px;
    font-family: 'Karla', sans-serif;
    margin-right: 10px;
  }
  .about-me {
      width: 95px;
  }
.spacer {
    flex: 1 1 auto;
}
.mat-elevation-z6 {
    z-index: 2;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: 80px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/images/beverage-break-breakfast-414630.jpg');
    background-size: 100%;
    background-position-y: 900px;
    &.shrink {
        .title:nth-child(2), 
        .title:nth-child(3), 
        .title:nth-child(4), 
        .title:nth-child(6), 
        .title:nth-child(7), 
        .title:nth-child(8), 
        .title:nth-child(9) {
            -webkit-animation: text-vanish 0.2s 1 ease forwards;
            animation: text-vanish 0.2s 1 ease forwards;
        }

        .title:nth-child(1) {
            -webkit-animation: text-move-right 0.2s 0.2s 1 ease forwards;
            animation: text-move-right 0.1s 0.2s 1 ease forwards;
        }
        .title:nth-child(10) {
            -webkit-animation: stop-move-left 0.1s 0.2s 1 ease forwards;
            animation: stop-move-left 0.1s 0.2s 1 ease forwards;
        }
    }
}
.toolbar-row {
    position: absolute;
    bottom: 5px;
}

.title {
    font-size: 55px;
    font-family: 'Karla', sans-serif;
    font-style: italic;
    display: inline-block;
    margin-top: 10px;
    color: rgb(237, 239, 241);
}

.title-link {
    text-decoration: none;
    color: black;
}

.wrapper {
    position: absolute;
    left: 43.5%;
}
#weather-icon {
    position: absolute;
    top: -20px;
    left: 10px;
    height: 100px;
}
.weather-text {
    position: absolute;
    left: 100px;
    top: 15px;
    font-size: 15px;
    color: rgb(237, 239, 241);
}
.list-container {
    flex-direction: column;
  }  

mat-card {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.blog-list {
    &:first-of-type {
        margin-top: 10px;
    }
}

.postContent {
    white-space: pre-wrap;
    font-size: 18px;
}
.spinner {
    margin: 100px auto;
    width: 60px;
    height: 60px;
    position: relative;
    text-align: center;

    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
  }
  
  .dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: rgb(17, 135, 222);
    border-radius: 100%;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
  @keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }

@keyframes text-vanish
{
0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 1;
}
60% {
  -webkit-transform:translateY(-80px);
  transform:translateY(-80px);
  opacity: 0.25;
}
80% {
  -webkit-transform:translateY(-90px);
  transform:translateY(-90px);
  opacity: 0;
}
100% {
  -webkit-transform:translateY(-100px);
  transform:translateY(-100px);
  opacity: 0;
}
}

@-webkit-keyframes text-vanish
{
0% {
  -webkit-transform: translateY(-20px);
  opacity: 1;
}
60% {
  -webkit-transform:translateY(-80px);
  opacity: 0.25;
}
80% {
  -webkit-transform:translateY(-90px);
  opacity: 0;
}
100% {
  -webkit-transform:translateY(-100px);
  opacity: 0;
}
}

@keyframes text-move-right
{
0% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
}
20% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
}
40% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
}
60% {
    -webkit-transform: translateX(25px);
    transform: translateX(25px);
}
80% {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
}
100% {
    -webkit-transform: translateX(70px);
    transform: translateX(70px);
}
}

@-webkit-keyframes text-move-right
{
0% {
    -webkit-transform: translateX(10px);
}
20% {
    -webkit-transform: translateX(15px);
}
40% {
    -webkit-transform: translateX(20px);
}
60% {
    -webkit-transform: translateX(25px);
}
80% {
    -webkit-transform: translateX(30px);
}
100% {
    -webkit-transform: translateX(70px);
}
}

@keyframes stop-move-left
{
0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
}
20% {
    -webkit-transform: translateX(-60px);
    transform: translateX(-60px);
}
40% {
    -webkit-transform: translateX(-70px);
    transform: translateX(-70px);
}
60% {
    -webkit-transform: translateX(-80px);
    transform: translateX(-80px);
}
80% {
    -webkit-transform: translateX(-90px);
    transform: translateX(-90px);
}
100% {
    -webkit-transform: translateX(-95px);
    transform: translateX(-95px);
}
}

@-webkit-keyframes stop-move-left
{
0% {
    -webkit-transform: translateX(-50px);
}
20% {
    -webkit-transform: translateX(-60px);
}
40% {
    -webkit-transform: translateX(-70px);
}
60% {
    -webkit-transform: translateX(-80px);
}
80% {
    -webkit-transform: translateX(-90px);
}
100% {
    -webkit-transform: translateX(-95px);
}
}